[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
arrow = "*"
h5py = "*"
icecream = "*"
loguru = "*"
result = "*"
python-rclone = "*"
toml = "*"

[dev-packages]
pytest = "*"
setuptools = "*"
twine = "*"
tqdm = "*"

[requires]
python = "3.10"

[scripts]
tests = "python -m unittest"
build = "python -m setup bdist_wheel sdist"
lint = "pylint ./tools ./tests"
