[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
icecream = "*"
python-rclone = "*"

[dev-packages]
pytest = "*"
setuptools = "*"
twine = "*"
tqdm = "*"

[requires]
python = "3.10"

[scripts]
tests = "python -m unittest"
transfer = "python -m run_transfer"
cleanup = "python -m run_cleanup"
build = "python -m setup bdist_wheel sdist"
lint = "pylint ./tools ./tests"
dev = "python -m main --input /home/martin/data/groups/20230831_134855_scott_reef.json"
