[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
arrow = "*"
h5py = "*"
icecream = "*"
loguru = "*"
result = "*"
python-dotenv = "*"
python-rclone = "*"
toml = "*"
tqdm = "*"

[dev-packages]
black = "*"
pytest = "*"
setuptools = "*"
twine = "*"

[requires]
python = "3.12"

[scripts]
main = "python -m main"
process_messages = "python -m main process_messages"
process_cameras = "python -m main process_cameras"
build = "python -m setup bdist_wheel sdist"
lint = "black ."
